/* body { 
  font-family: 'Source Code Pro', monospace;
  max-width: 1200px;
  width: 94%;
  margin: 0 auto;
  font-size: 12px;
  font-weight: 400;
}

h1 {
  text-align: center;
  font-size: 2.2em;
  font-weight: 400;
  color: #FC6719;
}
*/

body {
  font-size: 12px;
  font-weight: 400;
  line-height: 24pt;
  width: 94%;
  max-width: 1200px;
  margin: 5em auto;
  font-family: 'Source Code Pro', monospace;
}


.top-bar {
  width: 90%;
  max-width: 1200px;
  height: 3em;
  position: fixed;
  top: 0;
  left: 0.5;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  z-index: 5;
  font-weight: 500;
  color: white;
}

.top-bar::before {
  width: 100%;
  height: 3em;
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  background-color: #FC6719;
  z-index: -1;
}

.top-bar > .site-title > a {
  color: #ffffffaa;
  transition-duration: 0.4s;
}

.top-bar > .site-title > a:hover {
  text-decoration: none;
  color: white;
}

a, strong {
  color: #FC6719;
}


/* Styling of inputs and the container for the input area ------------------- */
input {
  border: none;
  width: 7em;
  text-align: right;
  background: none;
}

.input-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2em;
}

.input-item {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  width: 200px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 1em 2em;
}

/* - Remove spinners on number inputs - Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* - Remove spinners on number inputs - Firefox */
input[type=number] {
  -moz-appearance: textfield;
}




table {
  line-height: 16pt;
}


/* Switch for TT bikes ------------------------------------------------------ */
.switch {
  margin-top: 4px;
  position: relative;
  display: inline-block;
  width: 54px;
  height: 26px;
}

/* - hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ddd;
  -webkit-transition: .4s;
  transition: .4s;
  border: none;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

/* - color change on checking*/
input:checked + .slider {
  background-color: #FC6719;
}

/* - make it slide */
input:checked + .slider:before {
  -webkit-transform: translateX(27.5px);
  -ms-transform: translateX(27.5px);
  transform: translateX(27.5px);
}

/* - rounded sliders */
.slider.round {
  border-radius: 14px;
}

.slider.round:before {
  border-radius: 50%;
}


/* -------------------------------------------------------------------------- */
.footnote {
  color: #505050;
  margin: 3em 0;
  border-top: 1px solid #FC6719;
  padding-top: 1em;
}


/* Mobile to desktop changes ------------------------------------------------ */
@media (min-width:1025px) { 
  body{
    font-size: 14px;
    width: 94%;
  }
}
